@model IEnumerable<Sibers.WEB.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Employees";
    <h2>@ViewBag.Title</h2>
}
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                |
                @Html.ActionLink("Details", "Details", new { id = item.EId }) |
               
                @Html.ActionLink("Delete", "Delete", new { id = item.EId }) 
                    
            </td>
        </tr>
    }
</table>