@using Sibers.WEB.Models
@model ProjectViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            Employees
        </dt>
        <dd>
            <ul>
                @foreach (EmployeeViewModel p in ViewBag.Employees)
                {
                <li>
                    @p.FirstName
                    <br />
                </li>
                }
            </ul>
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
